:root {
  --mainWhite: #f5f5f5;
  --mainBlue: #118ab2;
  
}
body {
  background: url('../img/weather.jpg')center/cover fixed no-repeat;
  color: var(--mainWhite);
}
.card {
  box-shadow: 0 10px 15px rgb(255, 255, 255);
   background: transparent;
   
}
.cityInput {
  border: 0.15rem solid var(--mainWhite);
  background: transparent !important;
  font-size: 1.5rem;
  
}
input:focus {
  background: transparent !important;
}

#cityInput {
 color: var(--mainWhite);;
}

.submitBtn {
  background: var(--mainBlue);
  border: 0.15rem solid var(--mainBlue);
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.7;
}
.submitBtn:hover {
  opacity: 1;
}
.feedback {
  display: none;
}
.results {
  display: none;
}
.showItem {
  display: block;
}
